extends layout

block content
  .col-md-12
    h1.page-header New Assistance Request
    form.assistance
      .alert.hidden
      .form-group.first_name
        span.error-message.help-block 
        input.form-control(name="contact[first_name]" type="text" placeholder="First Name")
        span.pull-right.help-block required

      .form-group.last_name
        span.error-message.help-block
        input.form-control(name="contact[last_name]" type="text" placeholder="Last Name")
        span.pull-right.help-block required

      .form-group.email
        span.error-message.help-block
        input.form-control(name="contact[email]" type="text" placeholder="Email")
        span.pull-right.help-block required

      .form-group.service_type
        span.error-message.help-block
        select.service-types.form-control(name="service_type")
          option(value="") Select Service Type
        span.pull-right.help-block required

      .form-group.description
        span.error-message.help-block
        textarea.form-control(name="description" rows="3" placeholder="Assistance request description")
        span.pull-right.help-block required

      .form-group.terms_of_service
        span.error-message.help-block
        .checkbox
          label
            input(name="terms_of_service" type="checkbox" value="")
            | I hereby accept the terms of service for THE NETWORK and the Privacy Policy

      .form-group.submit
        input.btn.btn-default.pull-right(type="submit")