doctype html
html
  head
    title Code Challenge
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/lib/base.css')
  body
    .container
      .row
        block content

    script(src="/javascripts/vendor/jquery.js")
    script(src="/javascripts/vendor/jquery.formparams.js")
    script(src="/javascripts/vendor/underscore.js")
    script(src="/javascripts/vendor/bootstrap.js")
    script(src="/javascripts/vendor/backbone.js")

    script(src="/javascripts/lib/collections/service_types.js")
    script(src="/javascripts/lib/views/assistance_form.js")
    script(src="/javascripts/lib/base.js")
