doctype html
html
  head
    title Code Challenge
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/lib/base.css')
  body
    .container
      .row
        block content
